:root {
  --color-blue: #0282f9;
}

/*! RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/*? GENERAL RULES */

/** HEADER */

.navbarContainer {
  margin: 1rem 0;
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.DCLogoImage {
  width: 5rem;
  height: 5rem;
}

#navbarList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 0;
}

#navbarList > li {
  position: relative;
  font-weight: 700;
}

.active {
  color: #0282f9;
}

.activeBorder {
  width: 100%;
  position: absolute;
  bottom: -2.5rem;
  border-bottom: 6px solid var(--color-blue);
}

/** MAIN */

main {
  height: 8rem;
  background-color: #1c1c1c;
  color: white;
}

/** BANNER */

#bannerSection {
  background-color: var(--color-blue);
  color: white;
  height: 9rem;
  padding: 3rem;
}

.iconComics {
  width: 2.5rem;
}

.iconBanner {
  width: 3rem;
}

.iconLocator {
  width: 2rem;
}

#bannerList {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#bannerList > li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.9rem;
}

/** FOOTER */

#DCFooter {
  position: relative;
  height: 25rem;
  background-image: url(../img/footer-bg.jpg);
  color: white;
  padding: 2rem 0;
}

#footerMenu {
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
}

.listTitle {
  margin: 1rem 0;
  font-weight: 700;
}

#footerMenu ul {
  padding-left: 0;
}

#footerMenu li {
  margin: 3px 0;
  font-size: 0.8rem;
  color: rgb(163, 161, 161);
}

#logoFooter {
  position: absolute;
  top: 50%;
  right: -15%;
  translate: -50% -50%;
}

/* SOCIAL */
#socialSection {
  padding: 2rem;
  background-color: #303030;
  height: 6rem;
}

#socialBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#btnSignUp {
  border-radius: 0;
  color: white;
  font-weight: 700;
}

#socialBox > section {
  display: flex;
  justify-content: center;
  align-items: center;
}

#socialBox span {
  font-weight: 700;
  color: var(--color-blue);
  font-size: 1.2em;
}

#socialList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
